









































.scene {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
.wrapper-full{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
}
.wrapper-square{
	position: absolute;
	width: 100vmax;
	height: 100vmax;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.whiteText{
	color: white;
}












































.container {
  position: absolute;
  width: 80vw;
  height: 100vh;
  top: 0;
  left: 10vw;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
}
.furoBlock{
  width: 20vw;
  height: 10vw;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tile{
  display: inline-block;
  color: white;
}

